<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.linuxtools.lttng2.kernel.aka"
            name="Advanced Kernel Analysis"
            parentCategory="org.eclipse.linuxtools.lttng2.ui.views.category">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.linuxtools.lttng2.kernel.aka"
            class="org.eclipse.linuxtools.lttng2.kernel.aka.views.criticalflow.CriticalFlowView"
            id="org.eclipse.linuxtools.lttng2.kernel.aka.views.criticalflow"
            name="Critical Flow View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.linuxtools.lttng2.kernel.ui.perspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.eclipse.linuxtools.lttng2.aka.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
